<section class="about-area" id="appoinment">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end align-items-center">
            <div class="col-lg-6 col-md-12 about-left no-padding">
                <img class="img-fluid" src="../assets/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 about-right no-padding">
                <h1>User <br> Register</h1>
                <form class="booking-form form" id="myForm" >
                         <div class="row">
                            <div class="col-lg-12 d-flex flex-column form-group">
                                <input [(ngModel)]="regData.fname" name="fname" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="text" required>
                            </div>
                            <div class="col-lg-12 d-flex flex-column form-group">
                                <input [(ngModel)]="regData.lname" name="lname" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="text" required>
                            </div>
                            <div class="col-lg-12 d-flex flex-column form-group">
                                <input [(ngModel)]="regData.city" name="city" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="text" required>
                            </div>
                            <div class="col-lg-12 d-flex flex-column form-group">
                                <input [(ngModel)]="regData.age" name="age" placeholder="Age" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="number" required>
                            </div>
                    
                             <div class="col-lg-12 d-flex flex-column form-group">
                                 <input [(ngModel)]="regData.email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="email" required>
                             </div>
                             <div class="col-lg-12 d-flex flex-column form-group">
                                <input [(ngModel)]="regData.password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" class="form-control mt-20" required="" type="password" required>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end send-btn">
                                <button (click)="registerUser()" class="submit-btn primary-btn mt-20 text-uppercase ">Register<span class="lnr lnr-arrow-right"></span></button>
                            </div>

                            <div class="alert-msg"></div>
                        </div>
                  </form>
                </div>
            </div>
        </div>
  
</section>